Django==1.6.5
altgraph==0.10.1
backports==1.0
backports.ssl-match-hostname==3.4.0.2
configobj==4.6.0
modulegraph==0.10.2
nose==1.2.1
py2app==0.7.2
pyobjc-framework-Cocoa==2.3
pyparsing==2.0.1
python-dateutil==1.5
pytz==2012h
six==1.5.2
tornado==3.2
wsgiref==0.1.2
wxPython-common==3.0.0.0
South==0.8.4
