{% extends "base.html" %}
{% load staticfiles %}

{% block main_content %}
<div class="header">
	<h1>{{ object }}</h1>
</div>
<div class="col-md-9">
	
	<div class="row">
		<p>Date created: {{ object.created_date }}</p>
		<p>Owner: {{ object.manager }}</p>
		<p>Type: {{ object.get_type_display }}</p>
		<p>Region: {{ object.get_region_display }}</p>
		<p>Rating: {{ object.rating }}</p>
		<p>Status: {{ object.get_status_display }}</p>
	</div>

	<div class="row">
		{{ object.description }}
	</div>
</div>

{% endblock %}
