{% extends "base.html" %}
{% load staticfiles %}

{% block style_extra %}
	
	/*#header-top {
		padding-left:70px;
	}*/

	.content-cell {
		border:1px;
		/*border-color:#4d85d7;*/
	}

{% endblock %}
{% block main_content %}
				
<div class="col-md-9">
	<div class="header center-block" id="header-top">
		<h1>We is Bundler</h1>
		
		<a class="btn btn-lg btn-default" href="{% url "cause:create" %}">Champion a cause!</a>
	</div>
	<div class="row">
		<div class="col-md-6 content-cell">
			<h2>Champion a Cause</h2>
			<hr>
			<p>We applaud your initiative to fight for a cause that is dear to you!</p>
			
			<p><a href="#">How do I become a champion?</a></p>

		</div>
		<div class="col-md-6 content-cell">
			<h2>Support a Cause</h2>
			<hr>
			<p>There are many causes that need your help!</p>

			<p><a href="#">How do I find causes to support?</a></p>
			<p><a href="#">How can I support a cause?</a></p>
		</div>
	</div>
</div>
{% endblock %}

{% block side_content %}
<div class="col-md-3">
	<h2>Popular Causes</h2>
	<div class="well well-md">
		{% for object in object_list %}
			
				<h3>{{ object }}</h3>
				<p>Champion: {{ object.manager }} <span class="badge pull-right">{{ object.rating }}</span></p>
				

				{{ object.description|truncatechars:50 }}
				<a href="{% url "cause:detail" pk=object.pk %}">More detail</a>
			
			<hr />
		{% endfor %}
	</div>
</div>
{% endblock %}
			