{% extends "base.html" %}
{% load staticfiles %}
{% block main_content %}
				
<div class="col-md-9">
	<div class="header">
		<h1>We is Bundler</h1>
	</div>
	Main column
</div>
{% endblock %}

{% block side_content %}
<div class="col-md-3">
	<h2>Popular Causes</h2>
	<div class="well well-md">
		{% for object in object_list %}
			
				<h3>{{ object }}</h3>
				<p>Champion: {{ object.manager }} <span class="badge pull-right">{{ object.rating }}</span></p>
				

				{{ object.description|truncatechars:50 }}
				<a href="{% url "cause:detail" pk=object.pk %}">More detail</a>
			
			<hr />
		{% endfor %}
	</div>
</div>
{% endblock %}
			